{block #title}Seznam rezervací{/block}

{block #head}
    {control dataGridHead}
{/block}

{block #toolbar}
{/block}

{block #content}
    {control reservationConfirmDialog}
    {control reservationDataGrid}
{/block}